@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
:root{
  --Blue: hsl(246, 80%, 60%);

 --Lightreda: hsl(15, 100%, 70%);/*(work)*/
 --Softblue : hsl(195, 74%, 62%);/*(play)*/
 --Lightred : hsl(348, 100%, 68%);/*(study)*/
 --Limegreen : hsl(145, 58%, 55%);/*(exercise)*/
 --Violet: hsl(264, 64%, 52%);/*(social)*/
 --Softorange : hsl(43, 84%, 65%);/*(self care)*/

  --Verydarkblue: hsl(226, 43%, 10%);
  --Darkblue: hsl(235, 46%, 20%);
  --Desaturatedblue: hsl(235, 45%, 61%);
  --PaleBlue: hsl(236, 100%, 87%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}
body {
  min-height: 100vh;
  line-height: 1.5;
}
input,
button,
select,
textarea {
  font: inherit;
}
img,
picture {
  display: block;
  max-width: 100%;
}
body{
  font-family: 'Rubik', sans-serif;
  background: var(--Verydarkblue);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 1120px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  /* grid-template-rows: repeat(2,1fr); */
  grid-gap:30px ;
  grid-template-areas: "user work play study"
                        "user exe social self";
}
.work{
  grid-area: work;
}
.play{
  grid-area: play;
}
.study{
  grid-area: study;
}
.exercise{
  grid-area: exe;
}
.social{
  grid-area: social;
}
.self{
  grid-area: self;
}
.first{
  background-color: var(--Darkblue);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  grid-area: user;
}
.user{
  background: var(--Blue);
  border-radius: 8px;
  padding: 30px;
  flex: 1;
}
.user-img{
  width: 85px;
  height: 85px;
  margin-bottom: 40px;
}
.user-img img{
  border-radius: 50%;
  border: 2px solid #fff;
  object-fit: cover;
}
.user-content{

}
.user-info{
  color: var(--PaleBlue);
  margin-bottom: 10px;
}
.user-name{
  color: #fff;
  font-weight: 300;
  line-height: 18px;
}
button{
  cursor: pointer;
}
.options{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px 0;
  align-items: flex-start;
  padding: 30px;
}
.user-btn{
  border: 0;
  outline: none;
  background-color: transparent;
  color:hsl(238.18,34.37%,37.65%);
}
.user-btn.active{
  color: #fff;
}
.work{
  background: url(images/icon-work.svg) no-repeat top -10px right/ 80px 80px ,var(--Lightreda);

}
.play{
  background: url(images/icon-play.svg) no-repeat top -10px right/ 80px 80px ,var(--Softblue);
 
}
.study,.work,.play,.exercise,.social,.self{
  padding-top: 40px;
  border-radius: 10px;
  overflow: hidden;
}
.content{
  background-color: var(--Darkblue);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
 
}
.study{
  background: url(images/icon-study.svg) no-repeat top -10px right/ 80px 80px ,var(--Softblue);
}
.heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading h3{
  font-size: 15px;
  font-weight: 400;
}
.time{
  padding: 35px 0;
  font-size: 40px;
  font-weight: 400;
}
.desc{
  color: hsl(238.18,34.37%,37.65%);;
}
/* remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
